@tailwind base;
@tailwind components;
@tailwind utilities;

.bgColor {
  color: white;
  background: #050505;
}

.mainContainer {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.boxesbg {
  background: #171717d3;
}

.bgGradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7483368347338936) 100%
  );
}

.text-container {
  font-weight: bold;
  background: url("/c4.jpeg") no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
  text-align: center;
}

.text-container2 {
  font-weight: bold;
  background: url("https://img.freepik.com/free-vector/green-tones-gradient-background_23-2148373323.jpg?ga=GA1.1.2053974448.1749047070&semt=ais_hybrid&w=740")
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
  text-align: center;
}

.text-color {
  color: #499478;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* thinner line */
  border-radius: 2px;
  background: linear-gradient(
    to right,
    #ffffff,
    #499478
  ); /* white to green gradient */
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Container for full-screen background */
.intro-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bgFadeOut 0.5s ease-in-out forwards;
  animation-delay: 3s; /* start immediately after text fade ends */
}

/* Rest stays the same */
.zoom-text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  background: url("https://t4.ftcdn.net/jpg/02/47/62/97/240_F_247629704_vScFmnhhqjpRPAmlUlsVRLbMCoIXbenM.jpg");
  background-size: 200%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bgZoomOut 2s ease forwards, textFadeOut 1s ease forwards;
  animation-delay: 0s, 2s;
  animation-fill-mode: forwards;
}

@keyframes bgZoomOut {
  from {
    background-size: 500%;
  }
  to {
    background-size: 99%;
  }
}

@keyframes textFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bgFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:root {
  --banner-height: 3rem; /* 48px */
  --navbar-height: 4rem; /* 64px */
}

@media (min-width: 768px) {
  :root {
    --banner-height: 3.5rem; /* 56px */
    --navbar-height: 4.5rem; /* 72px */
  }
}

@media (min-width: 1024px) {
  :root {
    --banner-height: 4rem; /* 64px */
    --navbar-height: 5rem; /* 80px */
  }
}
